# <center>Dasar Pemprograman Python</center>
---


Halo guys, selamat bergabung dalam pembelajaran python ini.

Ini adalah notebook pertama dari beberapa notebook yang akan menemani kalian belajar dasar pemprograman python. Pada bagian ini kalian akan berlatih memberikan perintah untuk melakukan operasi matematika dasar menggunakan bahasa python. Dalam notebook ini berisi beberapa soal untuk mengasah kemampuan kalian dalam menuliskan perintah tersebut. Silahkan di baca petunjuknya dan menuliskan jawaban dari pertanyaan yang diberikan.

Selamat mencoba. ^_^

---

## Perintah print

Untuk membuat sebuah aplikasi, kita harus bisa berkomunikasi dengan komputer agar komputer dapat menjalankan perintah yang kita berikan. Jika berkomunikasi dengan manusia dapat dilakukan dengan menggunakan beberapa bahasa (misal Indonesia, Inggri, Jawa, dll), sedangkan berkomunikasi dengan komputer maka harus menggunakan bahasa tertetu yang dimengerti oleh komputer. Adapun beberapa contoh bahasa yang dapat dipahami komputer adalah C, C++, C#, Pyhton, Java, Fortran, Go, Julia, dll. Dalam notebook ini kita akan belajar mengenai bahasa pemrograman python.

Sebagai bahan latihan, cobalah ikuti instruksi dibawah untuk memberikan perintah kepada komputer agar melakukan operasi penjumlahan dua buah bilangan.

**Instruksi 1.1** : Perintahkan komputer untuk menghitung penjumlahan dari 20 + 15

- Tulis instruksi 20 + 15 pada bagian code editor.
- Print hasil penjumlahan tersebut menggunakan perintah ```print()```

```python
print(20+15)
```

In [1]:
# Tulis jawaban kalian disini
print(20+15)

35

---
Kita dapat memberikan perintah kepada komputer untuk melakukan lebih dari satu perhitungan


---
script :
```python
print(9 + 12)
print(20 - 8)
print(65 -20)
```

output :
```python
21
12
45
```
---    
**Instruksi 1.2** : Gunakan perintah ``print`` untuk menampilkan hasil perhitungan berikut

- 20 + 13
- 160 - 98
- 16 + 14

In [2]:
# Tuliskan jawaban disini
print(20+13)
print(160-98)
print(16+14)

33
62
30

---
**Insruksi 1.3** : Buatlah code yang menampilkan perhitungan tiga operasi berikut

- print 10 + 19
- print 22
- print -32

In [3]:
# Tuliskan jawaban disini
print(10+19)
print(22)
print(-32)

29
22
-32

---
Komputer menjalankan perintah secara berurutan dari baris yang paling atas, kemudian lanjut menjalankan perintah pada baris selanjutnya. Jika ada baris yang kosong maka komputer akan mengabaikannya. Selain baris kosong komputer juga akan mengabaikan perintah yang dimulai dengan karakter ```#```.


---
script :
```python
#print(4+3)
print(5-1)
print(7+1) # Ini akan menghasilkan nilai 8
```

output :
```
4
```
---
Pada contoh di atas setiap baris yang dimulai dengan simbol ```#``` maka akan diabaikan oleh komputer. Tanda ```#``` ini disebut dengan komentar.


**Instruksi 1.4** : Hilangkan komentar pada code dibawah untuk menampilkan hasil perhitungan.

In [4]:
#Code coba
print(10 + 13)
print(30-19)
print(-8)

23
11
-8

---

Sejauh ini kita baru menggunakan operasi aritmatik dengan menggunakan penjumlahan dan pengurangan. Untuk melakukan operasi perkalian dan pembagian dapat dilakukan dengan cara berikut

---
script :
```python
print(4*3)
print(16/4)
print(3 + 2 * 4)
print((3 + 2) * 4)
print(3**2)
```

output :
```python
12
4
11
20
9
```
---

**Instruksi 1.5** : Buatlah code untuk menghitung operasi aritmatik berikut dan tampilkan hasilkannya dengan perintah ``print``

- 12 x 17
- 76 / 14
- $2^{3}$

In [5]:
# Tuliskan jawaban disini
print(12*17)
print(76/14)
print(2**3)

204
5.428571428571429
8

## Variabel dan Tipe Data

Sebelumnya kita sudah menuliskan code untuk menghitung operasi aritmatik. Selanjutnya kita dapat menyimpan nilai atau hasil perhitungan ke dalam suatu variabel. Cara menyimpang suatu nilai ke dalam suatu variabel adalah sebagai berikut

----
script :
```python
hasil = 14
print(hasil)

```

output :
```python
14
```

atau kita juga dapat menghitung secara langsung operasi aritmatik dan menyimpannya dalam sebuah variabel, contoh

script :
```python
hasil = (2 + 5) * 2
print(hasil)
```

output :
```python
14
```
----

**Instruksi 1.6** : 
- Simpanlah hasil perhitungan (40 - 12)* 44 ke dalam variabel ``hasil``
- Print ``hasil``

In [6]:
# Tuliskan jawaban disini
hasil = (40-12)*44
print(hasil)

1232

---
Sebelumnya kita menyimpan ``14`` ke dalam variabel ``hasil``

```python
hasil = 14
```

variabel tersebut dapat kita gunakan untuk memanggil nilai yang mengisi suatu variabel. Dan selanjutnya dapat dilakukan operasi aritmatik, contoh

**script :**
```python
hasil = 14
print(hasil)
print(hasil + 6)
```

**output :**
```python
14
20
```
---
**Intruksi 1.7** :
- Simpanlah nilai 20 didalam variabel yang diberi nama ``nilai``
- Simpanlah hasil (22 - 12) * 13 kedalam variabel yang diberik nama ``hasil``
- Gunakan perintah ``print`` untuk menampilkan :
    
    a. Nilai yang disimpan dalam variabel ``nilai``
    
    b. Nilai yang disimpan dalam variabel ``hasil``
    
    c. Hasil penjumlahan ``nilai`` dan ``hasil``

In [7]:
# Tuliskan jawaban disini
nilai = 20
hasil = (22-12)*13
print(nilai)
print(hasil)
print(nilai + hasil)

20
130
150

Untuk menuliskan variabel ada beberapa aturan yang harus diikuti yaitu :

- Hanya diperbolehkan menggunakan huruf, angka, dan underscore, sedangkan karakter lainnya seperti (spasi, koma, strip, apostrope, dll) tidak diperbolehkan
- Nama variabel tidak boleh dimulai dengan angka

```python
data_01_04_2010    (valid)
HASIL_1            (valid)
hAsIl1             (valid)
1hasil             (invalid)    karena dimulai angka
data lama          (invalid)    karena ada spasi
harga_$            (invalid)    karena ada simbol
```

Nama variabel juga bersifat case sensitif yang artinya variabel ``hasil`` berbeda dengan ``Hasil``.

script:
```python
hasil = 12
Hasil = 29
print(hasil)
print(Hasil)
```
output :
```python
12
29
```

**Instruksi 1.8** :
Perbaikilah code pada dibawah :
- ubahlah ``data-lama`` menjadi ``data_lama``
- ubahlah ``data baru`` menjadi ``data_baru``
- Hapus simbol ``#`` sehingga code bisa berjalan dan tidak ada error

In [8]:
# permulaan coding
data_lama = 1900
data_baru = 3200

---
Nilai yang disimpan dalam variabel dapat di update menjadi suatu nilai yang baru, contoh :

script :
```python
x = 10
print(x)

x = 16
print(x)
```

output :
```python
10
16
```

Kita juga dapat mengupdate nilai x dengan menggunakan operasi aritmatik, contoh :

script :
```python
x = 10
print(x)
print(x+16)

x = x + 16
print(x)
```

output :
```pyhton
10
26
26
```

**Instruksi 1.9** :
- Buatlah variabel ``harga`` dengan isi ``20000``.
- Update variabel ``harga`` dengan menambah nilai sebelumnya dengan ``1500``
- Print ``harga``

In [9]:
# Tulis jawaban disini
harga = 20000
harga = harga + 1500
print(harga)

21500

---
Untuk mengupdate nilai suatu variabel dengan code yang lebih singkat dapat dilakukan dengan operasi aritmatik berikut, contoh

script :
```python
x = 10
x += 16
print(x)
```
output :
```python
26
```

Berikut adalah code singkat untuk update variabel

|Code Singkat | Contoh code      |  Hasil        |
|-------------|------------------|---------------|
|   +=        | x = 6            |               |
|             | x += 3           | 9             |
|   -=        | x = 6            |               |
|             | x -= 3           | 3             |
|   *=        | x = 6            |               |
|             | x *= 3           | 18            |
|   /=        | x = 6            |               |
|             | x /= 3           | 2             |
|   **=       | x = 6            |               |
|             | x **= 3          | 216          |

**Instruksi 1.10** : 
- Buatlah variabel dengan nama ``variabel_1`` dan isi dengan nilai 20
- Buatlah variabel dengan nama ``variabel_2`` dan isi dengan nilai 20
- Update ``variabel_2`` dengan menambah nilai sebelumnya dengan ``10`` dengan menggunakan operator ``+=``
- Update ``variabel_1`` dengan mengalikan nilai sebelumnya dengan ``4`` dengan menggunakan operartor ``*=``
- Tampilkan ``variabel_1`` dan ``variabel_2`` menggunakan perintah ``print``

In [10]:
# Tuliskan jawaban disini
variabel_1 = 20
variabel_2 = 20
variabel_2 += 10
variabel_1 *= 4
print(variabel_1)
print(variabel_2)

80
30

---
Pada bagian sebelumnya kita telah mencoba operasi aritmatik dengan menggunakan bilangan integer seperti 6,14,20, dll. Dalam melakukan perhitungan kita juga dapat menghitung bilangan desimal.

script:
```python
print(-2.5 + 3.5)
print(8.3 - 2.1)
```
output:
```python
1.0
6.2
```

Dalam bahasa python tipe data integer dan desimal dibedakan dengan sebutan tipe integer dan float.

script :
```python
print(type(3))
```
output :
```python
int
```

script :
```python
print(type(2.4))
```
output :
```python
float
```

Dalam pemrograman komputer, suatu nilai dapat diklasifikasikan menjadi beberapa tipe. Tipe data yang berbeda akan diproses secara berbeda oleh komputer, sehingga akan menentukan operasi apa yang bisa berjalan dan tidak bisa berjalan. Tipe ``int`` dan ``float`` merupakan tipe data yang berbeda tetapi kedua tipe data tersebut dapat dicampur dan mengalami operasi aritmatik. Sehingga tipe ``int`` tidak hanya dibatasi untuk dijumlahkan dengan tipe ``int`` juga, tetapi juga dapat dijumlahkan dengan data bertipe ``float``.

script :
```python
print(2 + 3.2)
print(1.5 * 3)
```
output :
```python
5.2
4.5
```

**Instruksi 1.11** :
- Buatlah variabel dengan nama ``variabel_1`` dan isi dengan nilai 10
- Buatlah variabel dengan nama ``variabel_2`` dan isi dengan nilai 3.5
- Update ``variabel_1`` dengan menjumlahkan float ``6.5`` dengan nilai sebelumnya menggunakan operator ``+=``
- Update ``variabel_2`` dengan mengalikan integer ``2`` dengan nilai sebelumnnya menggunakan operator ``*=``
- Tampilkan ``variabel_1`` dan ``variabel_`` dengan perintah ``print``

In [11]:
# Tuliskan jawaban disini
variabel_1 = 10
variabel_2 = 3.2
variabel_1 += 6.5
variabel_2 *= 2
print(variabel_1)
print(variabel_2)

16.5
6.4

---
Suatu tipe data tertentu dapat diubah menjadi tipe data yang lain sesuai dengan kebutuhan untuk melakukan proses perhitungan. Misalnya tipe data integer dapat diubah menjadi tipe data float dengan menggunakan perintah ``float()``, atau sebaliknya dapat dilakukan dengan menggunakan perintah ``int()``

contoh mengubah dari float menjadi integer :
```python
print(float(20))
```
output :
```python
20.0
```

contoh mengubah integer menjadi float :
```python
print(int(3.4))
```
output :
```python
3
```

``int()`` membulatkan ``3.4`` menjadi ``3`` yang mana selalu nilainya pembulatan kebawah.
contoh :
```python
print(int(4.99))
```
output :
```python
4
```

Untuk melakukan pembulatan ke atas ataupun kebawah sesuai dengan angka belankang pada bilangan desimal, maka dapat digunakan perintah ``round``. Jika angka akhiran desimal lebih besar dari 5 maka akan dibulatkan ke atas sedangkan jika akhiran lebih kecil atau sama dengan 5 maka akan dibulatkan ke bawah. Contoh :

script :
```python
print(round(4.3))
print(round(4.5))
print(round(4.7))
```
output :
```python
4
4
5
```

**Instruksi 1.12** :
- Buatlah variabel bernama ``variabel_1`` dan isi dengan nilai 14.8
- Buatlah variabel bernama ``variabel_2`` dan isi dengan nilai 3.7
- Bulatkan ``variabel_1`` dengan menggunakan perintah ``round()``, dan simpan hasil pembulatanya di dalam ``variabel_1``
- Konversi ``variabel_2`` dari tipe float menjadi integer menggunakan perintah ``int()``, dan simpan dalam ``variabel_2``.
- Tampilkan ``variabel_1`` dan ``variabel_2`` dengan menggunakan perintah ``print()``

In [12]:
# Tuliskan jawaban disini
variabel_1 = 14.8
variabel_2 = 3.7
variabel_1 = round(variabel_1)
variabel_2 = int(variabel_2)
print(variabel_1)
print(variabel_2)

15
3

---
Pada bagian sebelumnya sudah dijelaskan tipe data ``int`` dan ``float``. Tetapi masih terdapat beberapa jenis data yang lain dalam pemrograman. Sebagai contoh perhatikan tabel berikut :


| No   |nama aplikasi  | harga    |mata uang| total rating   |user rating   |
|------|---------------|----------|---------|----------------|--------------|
| 1    |Facebook       | 0.0      |  USD    |   270298       |   3.5        |
| 2    |Instagram      | 0.0      |  USD    |   253091       |   4.5        |
| 3    |Clash of Clans | 0.0      |  USD    |   234389       |   4.5        |
| 4    |Temple Run     | 0.0      |  USD    |   180235       |   4.5        |
| 5    |Pandora-Music  | 0.0      |  USD    |   145892       |   4.0        |


Dari tabel diatas dapat kita lihat pada kolom ``nama aplikasi`` dan ``mata uang`` merupakan data berbentuk text. Dalam bahasa python untuk menuliskan data dapat dilakukan dengan memberikan tanda petik pada bagian awal dan bagian akhir suatu data ``("data")``, contohnya

script :
```python
nama_aplikasi = "Facebook"
mata_uang = "USD"

print(nama_aplikasi)
print(mata_uang)
```

output :
```python
Facebook
USD
```

Untuk menuliskan text juga dapat dilakukan dengan menuliskan tanda petik satu (``' '``), kedua cara penulisan dengan tanda petik dua atau petik satu diperbolehkan dalam bahasa python untuk menuliskan text, contoh

script :
```python
nama_1 = "Facebook"
nama_2 = 'Facebook'

print(nama_1)
print(nama_2)
```
output :
```python
Facebook
Facebook
```

Tipe data text ini dalam bahasa pemrograman disebut sebagai data bertipe **string**. Dalam python dituliskan dengan ``str``, contoh

script :
```python
print(type('Facebook'))
```

output :
```python
Facebook
```


Untuk membuat string tidak hanya dibatasi dengan menggunakan huruf saja, tetapi juga dapat menggunakan angka, spasi, ataupun karakter lainnya asalkan selalu dimulai dengan tanda petik. Contoh

script :
```python
aplikasi = 'Facebook'
deskripsi_singkat = 'Facebook adalah aplikasi tidak berbayar dengan rerata ratingnya adalah 3.5'

print(aplikasi)
print(deskripsi_singkat)
```
output :
```pyhton
Facebook
Facebook adalah aplikasi tidak berbayar dengan rerata ratingnya adalah 3.5
```

---
**Instruksi 1.13** :
- Buatlah variabel dengan nama ``nama_aplikasi`` dan isi dengan text ``Pandora - Music``
- Buatlah variabel dengan nama ``rerata_rating`` dan isi dengan nilai ``4.0`` bertipe float
- Buatlah variabel dengan nama ``total_rating`` dan isi dengan nilai `18736483` bertipe string
- Buatlah variabel dengan nama ``harga`` dan isi dengan text ``gratis``
- Tampilkan ``nama_aplikasi`` dengan menggunakan perintah ``print``

In [13]:
# Tuliskan jawaban disini
nama_aplikasi = "Pandora - Music"
rerata_rating = 4.0
total_rating = 18736483
harga = "gratis"
print(nama_aplikasi)

Pandora - Music

Kadang untuk membuat text terdapat karakter tanda petik satu atau petik dua di dalam text, seperti contoh berikut ``Indonesia's culinary is so delicious``. Dalam kondisi ini kita tidak dapat menggunakan tanda petik satu (``' '``) untuk membuat string, tapi harus menggunakan tanda petik dua (``" "``) ".

script :
```python
statement = "Indonesia's motto is 'Bhineka Tunggal Ika'."
print(statement)
```
output :
```pyhton
Indonesia's motto is 'Bhineka Tunggal Ika'.
```

Pada text di atas kita menggunakan tanda petik dua karena pada bagian dalam text ada tanda petik satu, sehingga dengan menggunakan tanda petik dua membuat program mengetahui dimana string data dimulai dan diakhiri. Akan tetapi pada bagia text juga mengandung tanda petik dua dan petik satu seperti pada contoh berikut :

script :
```python
statement = 'Indonesia's motto is "Bhineka Tunggal Ika".'
```
output:
```python
SyntaxError: invalid syntax
```

Dengan kondisi seperti di atas maka program akan memberitahukakn kesalahan dalam penulisan, sehingga untuk kondisi kita dapat menggunakan tanda petik satu untuk membuat string, tetapi pada tanda petik satu bagian dalam text harus dimulai dengan karakter garsi miring (``\``), contoh :

In [11]:
# script :
statement = 'Indonesia\'s motto is "Bhineka Tunggal Ika".'
print(statement)

Indonesia's motto is "Bhineka Tunggal Ika".

**Instruksi 1.14** :
- Buatlah variabel ``statement`` yang berisi ``Apple's motto is "think difference".``
- Tampilkan variabel ``statement`` dengan menggunakan perintah ``print()``

In [14]:
# Tuliskan jawaban disini
statement = "Apple's motto is \"think difference\""
print(statement)

Apple's motto is "think difference"

---
Dua buah data bertipe string dapat disambungkan dengan menggunakan operator ``+``. Contoh :

In [12]:
print('a' + 'b')
print('a' + ' ' + 'b')
print('Ini' + 'adalah' + 'sebuah' + 'kalimat.')
print('Ini' + ' ' + 'adalah' + ' ' + 'sebuah' + ' ' + 'kalimat.')
print('Ini ' + 'adalah ' + 'sebuah ' + 'kalimat.')

ab
a b
Iniadalahsebuahkalimat.
Ini adalah sebuah kalimat.
Ini adalah sebuah kalimat.

Proses menyambungkan dua buah string disebut sebagai sebagai prose **concatenation**

Operasi pada data bertipe string juga dapat dilakukan dengan menggunakan operator ``*``, yang mana operator ini akan membuat salinan data berulangkali. Contoh

In [17]:
print('a' * 2)
print('a' * 5)
print('a ' * 5)
print('a' * 1)
print('a' * 0)    # Tidak dapat di print
print('a' * -1)   # Tidak dapat di print

aa
aaaaa
a a a a a
a

Tipe data string tidak dapat dijumlahkan dengan tipe data integer ataupun tipe float.

In [18]:
print('6' + 2)

TypeError: can only concatenate str (not "int") to str

In [21]:
print('4' - 1)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

Jika suatu string mempunyai nilai yang membentuk suatu angka (misal ``'4'``,``'3.3'``,``'12'``,dll), maka nilai ini dapat dikonversi menjadi data bertipe integer atau float, kemudia baru dapat dilakukan operasi aritmatik. Contoh

In [22]:
print(int('7') + 3)
print(float('3.5') + 1)

10
4.5

In [23]:
print(int('format yang salah'))

ValueError: invalid literal for int() with base 10: 'format yang salah'

In [24]:
print(int('3.3'))

ValueError: invalid literal for int() with base 10: '3.3'

Sebaliknya kita dapat mengubah data bertipe ``int`` atau ``float`` menjadi bertipe ``str`` menggunakan perintah ``str()``. Misalnya kita ingin mengubah data integer ``4`` menjadi data string ``'4'``.

script :
```python
print(str(4))
```
output:
```python
'4'
```

Jika data text terdiri atas beberapa baris maka kita dapat menuliskannya dengan menggunakan tada petik tunggal tiga kali (```'''```) atau tanda petik ganda tiga kali (``"""``), contoh

In [25]:
kalimat1 = '''Ini adalah kalimat pertama.
Ini adalah kalimat selanjutnya.
Ini adalah kalimat terakhir.'''

kalimat2 = """----------
baris 1.
baris 2.
baris 3."""

print(kalimat1)
print(kalimat2)

Ini adalah kalimat pertama.
Ini adalah kalimat selanjutnya.
Ini adalah kalimat terakhir.
----------
baris 1.
baris 2.
baris 3.

Dengan menggunakan tanda petik tiga kali maka pada text yang memiliki tanda petik satu dan dua dapat dituliskan secara langsung, contoh

In [26]:
statement = '''Indonesia's motto is "Bhineka Tunggal Ika".'''
print(statement)

Indonesia's motto is "Bhineka Tunggal Ika".

**Instruksi 1.15** :
- Buatlah variabel bernama ``gojek`` dan isi dengan data string ``rating gojek adalah``
- Buatlah variabel beranam ``rating`` dan isi dengan data float ``4.5``.
- Konversi variabel ``rating`` dari bertipe float menjadi string menggunakan perintah ``str()``. Kemudian simpan hasil konversi tersebut dengan nama variabel baru ``rating_str``
- Concatenate variabel ``gojek`` dengan ``rating_str`` sehinga diperoleh hasil print ``rating gojek adalah 4.5``, kemudian simpan hasil concatenate ini kedalam variabel ``gojek_new``.
- Tampilkan variabel ``gojek_new`` menggunakan perintah ``print()``.

In [16]:
# Tulis jawaban disini
gojek = 'rating gojek adalah '
rating = 4.5
rating_str = str(4.5)
gojek_new = gojek + rating_str
print(gojek_new)

rating gojek adalah 4.5